FocusOPEN_OS_Source_3_3_9_5/FocusOPEN.Business/Service References/APS/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FocusOPEN.APS" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FocusOPEN.APS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Job">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdditionalData" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AssetId" type="xs:int" />
      <xs:element minOccurs="0" name="CallbackUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatePreview" type="xs:boolean" />
      <xs:element minOccurs="0" name="CreateThumbnail" type="xs:boolean" />
      <xs:element minOccurs="0" name="InputPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OverrideHeight" type="xs:int" />
      <xs:element minOccurs="0" name="OverrideWidth" type="xs:int" />
      <xs:element minOccurs="0" name="PluginName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WatermarkPath" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Job" nillable="true" type="tns:Job" />
  <xs:complexType name="JobResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdditionalData" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AssetId" type="xs:int" />
      <xs:element minOccurs="0" name="InputFile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MetadataXml" nillable="true">
        <xs:complexType>
          <xs:sequence>
            <xs:any minOccurs="0" processContents="lax" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="PreviewPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ThumbnailPath" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JobResult" nillable="true" type="tns:JobResult" />
  <xs:complexType name="ServiceStatus">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SingletonOfServiceStatus78_P_SGaNV">
        <xs:sequence>
          <xs:element minOccurs="0" name="NumberOfJobsInProgress" type="xs:int" />
          <xs:element minOccurs="0" name="NumberOfJobsInQueue" type="xs:int" />
          <xs:element minOccurs="0" name="NumberOfJobsProcessed" type="xs:int" />
          <xs:element minOccurs="0" name="QueueLastChecked" type="xs:dateTime" />
          <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ServiceStatus" nillable="true" type="tns:ServiceStatus" />
  <xs:complexType name="SingletonOfServiceStatus78_P_SGaNV">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="SingletonOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/FocusOPEN.APS" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ServiceStatus" Namespace="http://schemas.datacontract.org/2004/07/FocusOPEN.APS" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence />
  </xs:complexType>
  <xs:element name="SingletonOfServiceStatus78_P_SGaNV" nillable="true" type="tns:SingletonOfServiceStatus78_P_SGaNV" />
  <xs:complexType name="VersionInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Build" type="xs:int" />
      <xs:element minOccurs="0" name="CreateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastModifiedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Major" type="xs:int" />
      <xs:element minOccurs="0" name="Minor" type="xs:int" />
      <xs:element minOccurs="0" name="Revision" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VersionInfo" nillable="true" type="tns:VersionInfo" />
</xs:schema>