FocusOPEN_OS_Source_3_3_9_5/FocusOPEN.Business/Service References/APS/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/FocusOPEN.APS/ProcessingService/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:8080/FocusOPEN.APS/ProcessingService/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/FocusOPEN.APS" />
  <xs:element name="GetSupportedExtensions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupportedExtensionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetSupportedExtensionsResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FileExtensionsGenerated">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FileExtensionsGeneratedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="FileExtensionsGeneratedResult" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlugins">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="extension" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPluginsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetPluginsResult" nillable="true" type="q3:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/FocusOPEN.APS" minOccurs="0" name="job" nillable="true" type="q4:Job" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubmitJobResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/FocusOPEN.APS" minOccurs="0" name="job" nillable="true" type="q5:Job" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/FocusOPEN.APS" minOccurs="0" name="ProcessJobResult" nillable="true" type="q6:JobResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssetMetadata">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssetMetadataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAssetMetadataResult" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExtensionGenerated">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pluginName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="extension" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExtensionGeneratedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetExtensionGeneratedResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceStatus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/FocusOPEN.APS" minOccurs="0" name="GetServiceStatusResult" nillable="true" type="q7:ServiceStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVersionInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVersionInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/FocusOPEN.APS" minOccurs="0" name="GetVersionInfoResult" nillable="true" type="q8:VersionInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>